@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   

    font-family: 'Roboto', sans-serif;
    background-image: url(cap.jpeg);
    background-size:cover ;
    background-attachment: fixed;

   
}

#captchaBackground {
    height: 270px;
    width: 500px;
    background-color: #042e06;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-width: 60px;
    align-items: center;
    align-content: center;
    
}

#captchaHeading {
    color: rgb(6, 5, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 45px;
    left: 0;
    right: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 4em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
    
}

#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
    /* position: absolute; */
}

#textBox {
    height: 25px;
    position: absolute;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}
